    *{
        /*set-up the website to have the same default settings first regardless of browser used and keep the box sizings consistent throughout the page*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: 'Open Sans', sans-serif;
    }

    .quizAlign{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .quizContainer {
        max-width: 80%;
        min-width: 60%;
        padding: 20px;
        margin-top: 10%;
        margin-bottom: 10%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    
    .factsQuiz {
        text-align: center;
    }
    
    .question {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .options {
        margin-bottom: 20px;
    }

    .option {
        display: block;
        margin-bottom: 10px;
    }
    
    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #428bca;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

    .button:hover {
        background-color: #3071a9;
    }

    .result {
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .hide{
        display: none;
    }

    #feedbackSection {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    #feedbackSection h2 {
        margin-top: 0;
    }

    #feedbackForm {
        display: flex;
        flex-direction: column;
    }

    #feedbackForm label {
        margin: 10px 0 5px;
    }

    #feedbackForm input {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    #feedbackForm button {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #feedbackForm button:hover {
        background-color: #555;
    }

    #feedbackResult {
        margin-top: 10%;
        padding: 20px;
        background-color: #e0ffe0;
        border: 1px solid #b2ffb2;
        border-radius: 8px;
    }



/*breakpoint: laptop + tablet screens*/
@media only screen and (min-width: 801px){
    body {
        /*setting the general contents to be centered*/
        justify-content: center;
        align-items: center;
        background-color: #121212;
    }

    /* this is for the cursor */
    /* .cursor{
        z-index: 999;
        position: fixed;
        background-color: #A7E6FF;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
        box-shadow: 0 0 20px #A7E6FF,
                    0 0 40px #3ABEF9;
        transform: translate(-50%, -50%);
        display: none;
    } */

    /*this is for the cursor delay effect cus its cool*/
    /* .cursor::before{
        content: '';
        position: absolute;
        background-color: white;
        width: 50px;
        height: 50px;
        opacity: 0.05;
        transform: translate(-30%, -30%);
        border-radius: 50%;
    } */

    /*creating css to design the waay the navbar is formed and shaped */
    header{
        position: relative; 
        padding: 0 2rem;
        overflow: hidden;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .navbar .logo{
        font-size: 3rem;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: rgba(255, 255, 255, 0);
    }

    /*how the list holder element will be formed */
    .navbar ul{
        display:flex;
        gap: 2rem;
    }

    /*how the individual list items will look */
    .navbar li{
        display: inline;
        text-align: center;
        list-style-type: none;
    }

    /*the links itself/words basicallu and the color behind the words */
    .navbar a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        color: rgba(255, 255, 255, 0);
        background-color: #428bca;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .navbar a:hover {
        background-color: #343ba7;
    }

    /*the start of the contents of the pages*/
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-align: center;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    /* .sharks { 
        color: white;
    } */

    .sharkLayout1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        margin: 1rem auto;
        border: 4px solid #5A72A0;
        border-radius: 20px;
        padding: 1rem 1rem;
    }

    .sharkText{
        color: white;
        padding: 1rem 1rem;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .card {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 250px;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
    }

    .card h2 {
        margin: 10px 0;
        color: #333333;
    }

    .card p {
        color: #555555;
        margin: 0;
    }

    .sharkImage img{
        border-radius: 15px;
    }

    .sharkButtons{
        width: 100%;
        border-radius: 10px;
    }

    #showTypes, #showSpecies{
        text-align: center;
        padding: 25px 0px;
        width: 100%; 
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: cadetblue;
        color: white;
    }

    #typeText, #speciesText{
        color: white;
        background-color: rgb(118, 193, 196);
        border-radius: 10px;
    }
    

    .QRCard{
        background: rgb(163,160,214);
        background: linear-gradient(253deg, rgba(163,160,214,1) 0%, rgba(37,33,205,1) 18%, rgba(38,38,138,1) 38%, rgba(18,71,122,1) 58%, rgba(3,117,183,1) 78%, rgba(117,189,204,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        left: 25%;
        width: 50%;
        position: relative;
    }

    .QRCode{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        border-radius: 7px;
        background: black;

    }

    .QRCode p{
        text-align: center;
        color: white;

    }

    .QRCode img{
       width: 20vw; 
    }

    .QRCode img:hover{
        cursor: none;
    }

    .factContent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .factContent img{
        width: 100%;
        height: auto;
        border-radius: 7px;
    }

    .factsCard1, .factsCard4{
        background: rgb(199,114,242);
        background: linear-gradient(253deg, rgba(199,114,242,1) 0%, rgba(89,68,207,1) 18%, rgba(146,105,244,1) 38%, rgba(28,102,172,1) 58%, rgba(3,117,183,1) 78%, rgba(214,10,238,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        position: relative;
        margin: 1rem auto;
    }

    .factsCard2, .factsCard5{
        background: rgb(61,156,92);
        background: linear-gradient(253deg, rgba(61,156,92,1) 0%, rgba(55,172,132,1) 18%, rgba(188,244,105,1) 38%, rgba(56,228,200,1) 58%, rgba(153,191,170,1) 78%, rgba(207,242,213,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        position: relative;
        margin: 1rem auto;
    }

    .factsCard3, .factsCard6{
        background: rgb(255,152,164);
        background: linear-gradient(135deg, rgba(255,152,164,1) 0%, rgba(235,62,219,1) 18%, rgba(139,91,191,1) 38%, rgba(168,92,255,1) 58%, rgba(236,69,95,1) 78%, rgba(215,9,181,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        position: relative;
        margin: 1rem auto;
    }

    .cards{
        text-align: center;
        border-radius: 7px;
        background: black;
        color: white;
        padding: 1rem 2rem;
    }

    .biology{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 100%; 
        height: 100%; 
        overflow: hidden; 
    }

    .diagramImage img{
        width: 100%; 
        height: 100%; 
        object-fit: contain; 
    }

    .bioCard p{
        color: white;
        border: 4px blue solid;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem auto;
    }

    #slideshowContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        overflow: hidden; 
    }
                
    #carousel, #navigation {
        flex: initial;
        display: block;
    }
                
    #carousel {
        overflow: hidden;
        width: 800px;
        height: 400px;
        border-radius: 4px;
        background-color: #fff;
    }
                
    .p-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease-in-out;
    }
                
    #button_1:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(0);
        transform: translateY(0); 
    }
                
    #button_2:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); 
    }

    #button_3:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%); 
    }

    #button_4:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%); 
    }

    #button_5:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%); 
    }
            
    [class^="panel"] {
        overflow: auto;
        position: relative;
        width: inherit;
        height: inherit;
        padding: 48px;
        background-color: #428bcab6;
    }

    .panel2 img{
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
            
    #navigation {
        margin-left: 24px;
    }

    [class^="label"] {
        display: block;
        cursor: pointer;
        margin: 8px 0;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;
        color: #000000;
        background-color: #ffffffa8;
        transition: all 0.3s ease;
    }
            
    [class^="label"]:hover {
        color: #fcfcfc;
        background-color: #00629b;
    }
            
    #button_1:checked ~ #navigation .label_1,
    #button_2:checked ~ #navigation .label_2,
    #button_3:checked ~ #navigation .label_3,
    #button_4:checked ~ #navigation .label_4,
    #button_5:checked ~ #navigation .label_5 {
        cursor: default;
        color: #fff;
        background-color: #222;
    }

}

/*breakpoint: phone screens*/
@media only screen and (max-width: 800px)
{
    body {
        /*setting the general contents to be centered*/
        justify-content: center;
        align-items: center;
        background-color: #121212;
    }
    /* this is for the cursor */
    /* .cursor{
        z-index: 999;
        position: fixed;
        background-color: #A7E6FF;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
        box-shadow: 0 0 20px #A7E6FF,
                    0 0 40px #3ABEF9;
        transform: translate(-50%, -50%);
        display: none;
    } */

    /*this is for the cursor delay effect cus its cool*/
    /* .cursor::before{
        content: '';
        position: absolute;
        background-color: white;
        width: 50px;
        height: 50px;
        opacity: 0.05;
        transform: translate(-30%, -30%);
        border-radius: 50%;
    } */

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .navbar .logo{
        font-size: 1.2rem;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: rgba(255, 255, 255, 0);
    }

    /*how the list holder element will be formed */
    .navbar ul{
        display: flex;
        gap: 0.1rem;
        background-color: #428bca;
        padding: 0.5rem;
        border-radius: 10px;
    }

    /*how the individual list items will look */
    .navbar li{
        display: inline;
        text-align: center;
        list-style-type: none;
    }

    /*the links itself/words basicallu and the color behind the words */
    .navbar a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
        padding: 0.5rem;
    }
    
    .navbar a:hover {
        background-color: #181e64;
        -webkit-text-stroke-color: white;
        border-radius: 0px;
    }

    /*the start of the contents of the pages*/
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-align: center;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sharkLayout1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }

    .sharkText{
        color: white;

    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .card {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 250px;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
    }

    .card h2 {
        margin: 10px 0;
        color: #333333;
    }

    .card p {
        color: #555555;
        margin: 0;
    }

    .sharkButtons{
        width: 100%;
    }

    #showTypes, #showSpecies{
        text-align: center;
        padding: 25px 0px;
        width: 100%; 
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: cadetblue;
        color: white;
    }

    #typeText, #speciesText{
        color: white;
        background-color: rgb(118, 193, 196);
        border-radius: 10px;
    }

    .QRCard{
        background: rgb(163,160,214);
        background: linear-gradient(253deg, rgba(163,160,214,1) 0%, rgba(37,33,205,1) 18%, rgba(38,38,138,1) 38%, rgba(18,71,122,1) 58%, rgba(3,117,183,1) 78%, rgba(117,189,204,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        left: 30%;
        width: 40%;
        position: relative;
    }

    .QRCode{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        border-radius: 7px;
        background: black;
    }

    .QRCode p{
        text-align: center;
        color: white;
        padding: 10px;
    }

    .QRCode img{
       width: 20vw; 
       padding: 10px;
    }

    .QRCode img:hover{
        cursor: none;
    }

    .factContent{
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: column;
    }

    .factContent img{
        width: 100%;
        height: auto;
        border-radius: 7px;
    }

    .factsCard1, .factsCard4{
        background: rgb(199,114,242);
        background: linear-gradient(253deg, rgba(199,114,242,1) 0%, rgba(89,68,207,1) 18%, rgba(146,105,244,1) 38%, rgba(28,102,172,1) 58%, rgba(3,117,183,1) 78%, rgba(214,10,238,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        width: 100%;
        position: relative;
        margin: 1rem auto;
    }

    .factsCard2, .factsCard5{
        background: rgb(61,156,92);
        background: linear-gradient(253deg, rgba(61,156,92,1) 0%, rgba(55,172,132,1) 18%, rgba(188,244,105,1) 38%, rgba(56,228,200,1) 58%, rgba(153,191,170,1) 78%, rgba(207,242,213,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        width: 100%;
        position: relative;
        margin: 1rem auto;
    }

    .factsCard3, .factsCard6{
        background: rgb(255,152,164);
        background: linear-gradient(135deg, rgba(255,152,164,1) 0%, rgba(235,62,219,1) 18%, rgba(139,91,191,1) 38%, rgba(168,92,255,1) 58%, rgba(236,69,95,1) 78%, rgba(215,9,181,1) 100%);
        padding: 5px 4px;
        border-radius: 10px;
        width: 100%;
        position: relative;
        margin: 1rem auto;
    }

    .cards{
        text-align: center;
        border-radius: 7px;
        background: black;
        color: white;
        padding: 1rem 2rem;
    }

    .diagramImage img{
        width: 100%; 
        height: 100%; 
        object-fit: contain; 
    }

    .bioCard p{
        color: white;
        border: 4px blue solid;
        border-radius: 10px;
        padding: 1rem;
        margin: 1rem auto;
    }

    #slideshowContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
        min-height: 100vh;
    }
                
    #carousel, #navigation {
        flex: initial;
        display: block;
    }
                
    #carousel {
        overflow: hidden;
        width: 400px;
        height: 400px;
        border-radius: 4px;
        background-color: #fff;
    }
                
    .p-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease-in-out;
    }
                
    #button_1:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(0);
        transform: translateY(0); 
    }
                
    #button_2:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); 
    }

    #button_3:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%); 
    }

    #button_4:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%); 
    }

    #button_5:checked ~ #carousel .p-wrapper {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%); 
    }
            
    [class^="panel"] {
        overflow: auto;
        position: relative;
        width: inherit;
        height: inherit;
        padding: 48px;
    }

    .panel2 img{
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
            
    #navigation {
        margin-left: 24px;
    }

    [class^="label"] {
        display: block;
        cursor: pointer;
        margin: 10px 0;
        width: 25px;
        height: 25px;
        line-height: 32px;
        text-align: center;
        border-radius: 4px;
        color: #000000;
        background-color: #ffffffa8;
        transition: all 0.3s ease;
        font-size: 11px;
    }
            
    [class^="label"]:hover {
        color: #fcfcfc;
        background-color: #00629b;
    }
            
    #button_1:checked ~ #navigation .label_1,
    #button_2:checked ~ #navigation .label_2,
    #button_3:checked ~ #navigation .label_3,
    #button_4:checked ~ #navigation .label_4,
    #button_5:checked ~ #navigation .label_5 {
        cursor: default;
        color: #fff;
        background-color: #222;
    }

}
